/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Aug, 2015, 5:04:13 PM
    Author     : root
*/

* {
   font-size: 14px;
   line-height: 1.428;
}